body {
	margin: 0px;
}
p {
	font-family: Verdana;
	font-size: 12px;
	color: #333333;
	font-weight: bold;
}
ul { 
	list-style-type: none;
}

a {
	color: #006699;
	border: 0;
}
img {
	border: 0;
}



div.content {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	z-index: 0;
	width: 900px;
}

div.content div.event_reporting {
	background-color: #fdfab1;
	position: absolute;
	top: 0px;
	left: 260px;
	width: 540px;
	height: 50px;
	text-align: center;
	border: 1px dotted #cccccc;
	border-top: none;
}

div.content div.logo{
	position: relative;
	left: 10px;
	top: 10px;
	width: 196px;
	height: 136px;
	background: url("../images/logo.jpg") no-repeat;
}
div.content div.left_menu_list {
	position: relative;
	width: 196px;
	float: left;
}

div.content div.left_menu_list ul {
	padding-left: 10px;
}

div.content div.left_menu_list ul li{
	margin-top: 1px;
	padding-left: 30px;
	background: #d6d6d6;
}

div.content div.left_menu_list ul li:hover{
	background: #cccccc;
	cursor: pointer;
}

div.content div.left_menu_list ul li.active span{
	background: url("../images/icons.png") no-repeat;
	background-position:  0px -226px;
	float: right;
	width: 30px;
	line-height: 35px;
}

div.content div.left_menu_list ul li.active {
	background: #cccccc;
}

div.content div.left_menu_list ul li a{
	font-family: Verdana;
	font-size: 12px;
	color: #333333;
	font-weight: bold;
	text-decoration: none;
	line-height: 35px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	background: url("../images/icons.png") no-repeat;
}

div.content div.left_menu_list ul li.list a{
	background-position:  0px -106px;
}

div.content div.left_menu_list ul li.new a{
	background-position:  0px -170px;
}

div.content div.list_heading {
	background: #bcbcbc;
	height: 50px;
}
div.content div.list_heading span {
	font-family: Verdana;
	font-size: 20px;
	margin-left: 30px;
	color: #333333;
}
div.content div.list_heading input {
	font-family: Verdana;
	font-size: 30px;
	height: 30px;
	width: 400px;
	margin-top: 7px;
}
div.content div.center_content {
	position: relative;
	top: 16px;
	left: 10px;
	width: 700px;
	float: left;
}
div.content div.center_content div.list {
	height: 500px;
	overflow-y: scroll;
}


div.content div.center_content ul {
	margin-top: 0;
	padding: 0;
}
div.content div.center_content ul li {
	margin-top: 1px;
	background: #d6d6d6;
	height: 120px;
}
div.content div.center_content ul li:hover {
	background: #cccccc;
}

div.content div.center_content ul li div {
	position: relative;
	float: left;
}

div.content div.center_content ul li div.buttons_toolkit {
	height: 100%;
	width: 40px;
	
}
div.content div.center_content ul li div.buttons_toolkit div{
	display: none;
}
div.content div.center_content ul li:hover div.buttons_toolkit div {
	display: block;
}

div.content div.center_content ul li div.buttons_toolkit div {
	margin-top: 6px;
	margin-left: 5px;
	width: 35px;
	height: 28px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	cursor: pointer;
	text-align: center;
	padding-top: 3px;
}
div.content div.center_content ul li div.buttons_toolkit div:hover{
	background-color: #999999;
}
div.content div.center_content ul li div.computer_info {
	margin-left: 10px;
	height: 100%;
}
div.content div.center_content ul li div.computer_info div#computer_icon{
	width: 100px;
	height: 100%;
	background: url("../images/icons.png") no-repeat;
	background-position:  0px 30px;
}

div.content div.center_content ul li div.computer_info div#info{
	margin-left: 25px;
}
div.content div.center_content ul li div p{
	font-weight: normal;
}
div.content div.center_content ul li div.computer_info div#info p#user {
	font-size: 12px;
	margin-top: 14px;
}
div.content div.center_content ul li div.computer_info div#info p#ip {
	font-size: 14px;
	margin-bottom: 2px;
}
div.content div.center_content ul li div.computer_info div#info p#mac {
	font-size: 10px;
}
div.content div.center_content ul li div.computer_info div#info span#status.online {
	color: #259707;
}
div.content div.center_content ul li div.computer_info div#info span#status.offline {
	color: #c00e0e;
}

div.content div.center_content ul li div.comments {
	width: 300px;
	margin-left: 25px;
}

div.content div.center_content div.new_computer {
	width: 583px;
	height: 336px;
	background-color: #d5d5d5;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
}
div.content div.center_content div.new_computer div.dialog{
	width: 698px;
	height: 53px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	display: table-cell;
	vertical-align: middle;
}
div.content div.center_content div.new_computer div.dialog p{
	font-size: 20px;
	margin: 0;
}

div.content div.center_content div.new_computer div#form {
	position: relative;
	margin-top: 15px;
	margin-left: 15px;
	float: left;
}
div.content div.center_content div.new_computer div#form.right{
	margin-left: 40px;
}
div.content div.center_content div.new_computer div#form.right textarea{
	width: 279px;
	height: 134px;
	border: none;
}
div.content div.center_content div.new_computer div#form.right input[type="submit"]{
	float: right;
	width: 135px;
	height: 42px;
	border: none;
	margin-top: 1px;
	background: #858585;
	color: #ffffff;
}
div.content div.center_content div.new_computer div#form.right input[type="submit"]:hover{
	cursor: pointer;
	background: #666666;
}
div.content div.center_content div.new_computer div.field_container{
	position: relative;
	width: 222px;
	height: 40px;
	padding: 1px;
	background-color: #ffffff;
	margin-bottom: 10px;
}
div.content div.center_content div.new_computer span {
	font-family: Verdana;
	font-size: 12px;
	color: #333333;
}

div.content div.center_content div.new_computer div.field_container input{
	border: none;
	width: 100%;
	height: 38px;
	float: left;
	font-family: Verdana;
	font-size: 24px;
}
div.content div.center_content div.new_computer div.field_container input.find{
	width: 184px;
}
div.content div.center_content div.new_computer p.error_dialog{
	display: none;
	color: #ff0000;
	font-size: 12px !important;
}
.error {
	background-color: #ed8787 !important;
}